@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-blue-100: #e8f2ff;
    --color-blue-500: #4b96ff;
    --color-slate-500: #a9adc1;
    --color-gray-100: #f7f7f7;
    --color-gray-200: #e6e9ee;
    --color-gray-300: #dde0e4;
    --color-gray-400: #818890;
    --color-gray-500: #535661;
    --color-gray-600: #4b4c53;
    --color-gray-700: #3a3d4a;
    --color-gray-800: #2e3039;
    --color-gray-900: #282A3A;
    --color-green-100: #e7f9ed;
    --color-green-500: #30c85e;
    --color-green-600: #68d94a;
    --color-red-500: #ff4545;
    --color-pink-500: rgba(236, 72, 153, 1);
    --color-yellow-500: #ffd644;
    --color-beige-100: #faf8f1;
    --color-beige-200: #faeab1;
    --color-beige-300: #e5ba73;
    --color-beige-400: #c58940;
    --color-yellow-500-dark: #a08600;
    --color-yellow-500-inverted: #ffd644;
    /* dark overlay */
    --color-blackA1: hsla(0, 0%, 0%, 0.012);
    --color-blackA2: hsla(0, 0%, 0%, 0.027);
    --color-blackA3: hsla(0, 0%, 0%, 0.047);
    --color-blackA4: hsla(0, 0%, 0%, 0.071);
    --color-blackA5: hsla(0, 0%, 0%, 0.090);
    --color-blackA6: hsla(0, 0%, 0%, 0.114);
    --color-blackA7: hsla(0, 0%, 0%, 0.141);
    --color-blackA8: hsla(0, 0%, 0%, 0.220);
    --color-blackA9: hsla(0, 0%, 0%, 0.439);
    --color-blackA10: hsla(0, 0%, 0%, 0.478);
    --color-blackA11: hsla(0, 0%, 0%, 0.565);
    --color-blackA12: hsla(0, 0%, 0%, 0.910);
    /* light overlay */
    --color-whiteA1: hsla(0, 0%, 100%, 0);
    --color-whiteA2: hsla(0, 0%, 100%, 0.013);
    --color-whiteA3: hsla(0, 0%, 100%, 0.034);
    --color-whiteA4: hsla(0, 0%, 100%, 0.056);
    --color-whiteA5: hsla(0, 0%, 100%, 0.086);
    --color-whiteA6: hsla(0, 0%, 100%, 0.124);
    --color-whiteA7: hsla(0, 0%, 100%, 0.176);
    --color-whiteA8: hsla(0, 0%, 100%, 0.249);
    --color-whiteA9: hsla(0, 0%, 100%, 0.386);
    --color-whiteA10: hsla(0, 0%, 100%, 0.446);
    --color-whiteA11: hsla(0, 0%, 100%, 0.592);
    --color-whiteA12: hsla(0, 0%, 100%, 0.923);
}

.light,
.dark .text-inverse {
    --bg-primary: var(--color-white);
    --bg-secondary: var(--color-gray-100);
    --bg-alt: var(--color-gray-200);
    --border-secondary: var(--color-gray-200);
    --text-primary: var(--color-black);
    --text-secondary: var(--color-gray-500);
    color-scheme: light;
}

.dark,
.light .text-inverse {
    --color-yellow-500: #ffd644;
    --color-yellow-500-inverted: #a08600;
    --bg-primary: var(--color-gray-900);
    --bg-secondary: var(--color-gray-800);
    --bg-alt: var(--color-gray-700);
    --border-secondary: var(--color-gray-600);
    --text-primary: var(--color-white);
    --text-secondary: var(--color-slate-500);
    color-scheme: dark;
}

@layer base {

    body,
    .footer {
        @apply bg-beige-100 dark:bg-gray-900 ;
        @apply w-full;
    }
}